body{
    margin: 0;
}
.logo{
    display: flex;
    align-items: center;
    padding: 10px;

}
h1{
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
.icon{
    width: 15%;
    filter: invert(0%);
}
#icon{
    width: 100%;
}
#btn-menu{
    justify-content: center;
    padding: 15px;
    width: 20%;
    filter: invert(0%);    
}
#menuBtn{
    width: 50%;
}
ul.navigation{
    display: none;
    flex-direction: column;
}
#darkMode{
    position: absolute;
    top: 0%;
    right: 0%
}


ul.navigation.show{
    display: flex;
}
.menu {
    background-color: black;
}
ul.navigation li{
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
}
ul.navigation li:hover{
    background-color: grey;
}
ul.navigation li a {
    color: white;
}

main{
    margin: 5%;
}

.illustration{
    width: 100%;
}
.productsMobile{
    display: flex;
}
.productsDesktop{
    display: none;
}
.products{
    width: 50%;
}
.illustrations{
    width: 100%;
}

.readMore{
    display: flex;
    justify-content: right;
}

table, td, tr{
    border: solid 1px black;
    border-collapse: collapse;
}

.eventsTableTitles{
    background-color: rgb(76, 14, 199);
    color: white;
}

.darkBack{
    background-color: black;
}
.darkMenu{
    background-color: gray;
}
.darkLetters{
    color: white;
}
.darkImg{
    filter: invert(100%);
}

.elem{
    display: flex;
    margin: 2%;
    align-items: center;
}
.camp{
    margin: 2px;
}

#captchaImg{
    width: 15%;
}
.msgOk{
    font-weight: bold;
    color: green;
}
.msgWrong{
    font-weight: bold;
    color: red;
}

footer{
    display: block;
    background-color: black;
    position: relative;
    width: 95%;
    bottom: 0%;
    padding: 2%;
    margin: 0;
}
footer ul{
    padding-left: 10%;
    list-style: none;
    font-weight: bold;
}
footer ul li{
    color: white;
}
footer ul li a{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 768px) { 

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    
    }

    #btn-menu {
        display: none;
    }  

    ul.navigation{
        display: flex;
        flex-direction: row;
    }

    .products{
        width: 33%;
    }
    .productsDesktop{
        display: block;
        width: 33%;
    }
    .illustrations{
        width: 50%;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: relative;
        width: 95%;
        bottom: 0%;
        padding: 2%;
        margin: 0;
    }
}
